@import "../../app.scss";

.portfolio{
    position: relative;
    

    .progress{
        position: sticky;
        top: 0;
        left: 0;
        text-align: center;
        color: orange;
        font-size: 25px;
        padding-top: 30px;

        @include mobile{
            padding-top: calc(100vh - 100px);
        }      

        .progressBar{
            height: 8px;
            background-color: white;
        }
    }

    .container{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        overflow: hidden;

        .wrapper{
            max-width: 1366px;
            height: 100%;
            margin: 0 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 50px;

            @include tablet{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                padding-top: 200px;
                text-align: center;
                
            }

            @include mobile{
                flex-direction: column;                
                gap: 0;
                padding-top: 100px;
            }

            .imageContainer{
                flex: 1;
                height: 75%;               

                img{
                    width: 100%;
                    height: 100%;
                    object-fit: contain;

                    @include mobile{
                        object-fit: contain;
                    }
                }
            }
    
            .portfolioTextContainer{
                flex: 1;
                display: flex; 
                flex-direction: column;
                gap: 25px; 
                
                @include tablet{
                    padding-top: calc(50vh - 350px);
                }

                @include mobile{
                    padding-top: calc(50vh - 150px);
                    text-align: center;
                }
                
                h1{
                    font-size: 45px;
                }

                p{
                    color: rgb(166, 165, 165);
                    font-size: 15px;
                    background-color: #3f3f506a;                    
                    padding: 20px 10px;
                    border-radius: 10px;

                    @include mobile{
                        width: 100%;
                    }
                }

                button{
                    background-color: orange;
                    border: none;
                    border-radius: 10px;
                    padding: 10px;
                    width: 200px;
                    cursor: pointer;
                }
                img{
                    height: 30px;
                    width: 30px;
                }
                div{
                    display: flex;
                    gap: 10px;
                    align-items: center;
                    
                    @include mobile{
                        width: 100%;
                    }
                }
                .icon{
                    font-size: 30px;
                    color: whitesmoke;
                }
                .tech{
                    background-color: rgba(51, 102, 153, 0.498);
                    width: auto;
                    height: 10px;
                    font-style: 12px;  
                    display: flex;
                    align-items: center;
                    padding: 15px 10px;                  
                }
            }
        }
    }
}