@import '../../app.scss';

.contacts{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;

    @include mobile{
        display: flex;
        flex-direction: column;
    }

    .contact{
        width: 300px;
        height: 300px;
        border: 1px solid white;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;justify-content: center;
        gap: 10px;

        @include mobile{
            width: 200px;
            height: 200px;
            font-size: 14px;
        }

        img{
            width: 50%;
            height: 50%;
        }

    }
}