.navbar{
    height: 100px;

    .wrapper{
        max-width: 1366px;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        height: 100%;

        span{
            font-weight: bold;
        }

        .social{
            display: flex;
            align-items: center;
            gap: 20px;

            img{
                height: 18px;
                width: 18px;
            }
        }
    }
}